html {
    font-size: 10px;
}

body {
    @extend %font-prim;
    font-size: 1.6rem;
    line-height: 2.6rem;
    font-weight: normal;
}

.wrapper {
    width: 1280px;
    margin: auto;
}

h1 {
    @extend %font-prim;
    color: $color-title;
    @include font($size: 35px, $height: 130%);
    letter-spacing: 2.1px;
}

.logo {
    &__title {
        color: $color-primary;
        @extend %font-prim;
        @include font($size: 32px, $height: 110%);
        letter-spacing: 1.92px;
        }
    &__text {
        color: $color-light;
        @extend %font-add;
        @include font($size: 13px, $height: 10%);
        letter-spacing: 1.3px;
    }
}

