.button {
    &_filled {
        background: $color-primary;
        border-radius: 100px;
        padding: 15px 45px;
        border: 0;
        cursor: pointer;
    }
    &_circle-left {
        background-image: url(../img/icons/arrow-left.svg);
    }

    &_circle-right {
        background-image: url(../img/icons/arrow-right.svg);
    }
}