$color-primary: #F1CDB3;
$color-active: #FDDCC4;
$color-light: #FFF;
$color-light-add:#F6F6F6;
$color-card: #FAFAFA;
$color-gray: #CDCDCD;
$color-dark:#292929;
$color-title: #545454;
$color-text: #4C4C4C;
$color-copyright: #B2B2B2;

$content-width: 1280px;	
$tablet-width: 768px;	
$mobile-big-width: 576px;	
$mobile-small-width: 320px;