@mixin flex($i-align: center, $t-align: left, $justify: center, $flex-dir: row, $flex-wrap: nowrap) {
    display: flex;
    align-items: $i-align;
    text-align: $t-align;
    justify-content: $justify;
    flex-direction: $flex-dir;
    flex-wrap: $flex-wrap;
}

@mixin font($size, $style:normal, $weight: 400, $height) {
    font-size: $size;
    font-style: $style;
    font-weight: $weight;
    line-height: $height;
}