.help-list {
    @include flex($flex-wrap: wrap);
    max-width: 128rem;
    width: 93%;
    row-gap: 4rem;
    column-gap: 11.8rem;
    &__content {
        @include flex($flex-dir: column);
        @include font($size: 2rem, $height: 115%);
        gap: 0.5rem;
        color: $color-title;
        letter-spacing: 0.12rem;
    }
}