.help-list {
    @include flex($flex-wrap: wrap);
    width: 1026px;
    height: 281px;
    row-gap: 50px;
    column-gap: 110px;
    &__content {
        @include flex($flex-dir: column);
        @include font($size: 20px, $height: 115%);
        color: $color-title;
        letter-spacing: 1.2px;
    }
}