.navigation {
    list-style-type: none;
    @include flex();
    gap: 35px;
    &__link {
        @include font($size: 15px, $height: 160%);
        @extend %font-add;
        color: $color-gray;
        text-decoration: none;
        cursor: pointer;
        transition: all .3s ease-out;
        &:hover {
            color: $color-light;
        }
    }  
}

