.navigation {
    margin: 0;
    list-style-type: none;
    @include flex();
    gap: 3.5rem;
    &__link {
        margin: 0;
        @include font($size: 1.5rem, $height: 160%);
        @extend %font-add;
        color: $color-gray;
        text-decoration: none;
        cursor: pointer;
        &:hover {
            color: $color-light;
            text-decoration: underline $color-primary 0.3rem;
            text-underline-offset: 1rem;
            transition: all .3s ease-out;
        }
        
        .navigation_pets & {
            color: $color-title;
            &:hover {
                color: $color-dark;
            }
        }
    }  
}

