.pagination {
    @include flex();
    gap: 2rem;
    &__btn {
        border-radius: 100%;
        border: 2px solid $color-primary;
        background-color: $color-light-add;
        width: 5.2rem;
        height: 5.2rem;
        padding: 1.4rem 0 1.5rem 0;  
        &_dis {
            border: 2px solid $color-gray;
        }
        &_fill {
            background-color: $color-primary;
        }
    }  
}