.pagination {
    @include flex();
    gap: 20px;
    &__btn {
        border-radius: 100%;
        border: 2px solid $color-primary;
        background-color: $color-light-add;
        width: 52px;
        height: 52px;
        padding: 14px 0px 15px 0px;
        justify-content: center;
        align-items: center;   
        &_dis {
            border: 2px solid $color-gray;
        }
        &_fill {
            background-color: $color-primary;
        }
    }  
}