.slider {
    @include column();
    gap: 60px;
    &__card {
        background-color: $color-card;
        border-radius: 10px;
        width: 270px;
        height: 435px;
    }
}

.card {
    &__name {
        color: $color-title;
        @include font($size: 20px, $height: normal);
        letter-spacing: 1.2px;
    }
}