.slider {
    @include flex($justify:space-between);
    width: 1200px;
    height: 435px;
    &__wrapper {
        @include flex();
        gap: 90px;
    }
    &__card {
        background-color: $color-card;
        border-radius: 10px;
        width: 270px;
        height: 435px;
    }
}

.card {
    @include flex($flex-dir: column);
    gap: 10px;
    &__name {
        color: $color-title;
        @include font($size: 20px, $height: normal);
        letter-spacing: 1.02px;
    }
}

.slider-friends {
    @include flex($flex-wrap: wrap);
    width: 1200px;
    height: 930px;
    gap: 45px;
    &__wrapper {
        @include flex($flex-wrap: wrap);
        gap: 40px;
    }
}