.about {
    &__wrapper {
        @include flex();
        gap: 120px;
        padding: 80px 100px;
        height: 480px;
    }
    &__content {
        @include flex($flex-dir:column);
        width: 430px;
        height: 380px; 
    }
    &__text {
        color: $color-text;
        @extend %font-add;
        @include font($size: 15px, $height: 150%);
    }
}



