.friends {
    background-color: $color-light-add;
    @include flex($t-align: center, $flex-dir: column);
    gap: 6rem;
    padding: 8rem 4rem 10rem 4rem;
    &__title {
        width: 40rem;
        margin: 0;
    }
}