.help {
    padding: 80px 0 100px 0;
    &__wrapper {
        @include flex($flex-dir: column);
        height: 431px;
        gap: 60px;
    }
    &__title {
        margin: 0;
        text-align: center;
    }
}