.pets {
    background-color: $color-light-add;
    padding: 8rem 0 10rem 0;
    &__wrapper {
        @include flex($flex-dir: column);
        max-width: 128rem;
        width: 100%;;
        gap: 6rem;
    }
    &__title {
        text-align: center;
        margin: 0;
    }
}