.promo {
    background: url(../img/backgrounds/noise_transparent@2x.png), radial-gradient(237.5% 111.8% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}

.content {
    display: flex;
    justify-content: space-between;
}

