.promo {
    &__wrapper {
        @include flex($flex-dir: column);
        gap: 6rem;
    }
    &__content {
        @include flex($i-align: flex-start);
        height: 72.8rem;
        max-width: 128rem;
        width: 100%;
        padding: 0 4rem;
        gap: 4.2rem;
        @include media-tablet {
            flex-direction: column;
        }
    }
    &__filling {
        @include flex($flex-dir: column, $i-align: flex-start, $justify: flex-start);
        padding: 16.3rem 0;
        gap: 4.2rem;
        max-width: 46rem;
        width: 100%;
    }
    &__title {
        margin: 0;
        color: $color-light;
        @extend %font-prim;
        @include font($size: 4.4rem, $height: 130%);
    }
    &__text {
        width: 46rem;
        margin: 0;
        color: $color-gray;
        @extend %font-add;
        @include font($size: 1.5rem, $height: 160%);
    }
}



